

<style type="text/css">
    .card-label {
        text-align: center;
    }
</style>
<div class="container" style="display: flex; justify-content: flex-start">
    <MudCard>
        <MudCardContent>
            <img src="imgs/Portfolio/BarnDoors.jpg" style="height: 150px;"/>
            <br/>
            <div class="card-label">
                <label>Sliding barn doors</label>
            </div>
        </MudCardContent>
    </MudCard>
    <MudCard>
        <MudCardContent>
            <img src="imgs/Portfolio/Wardrobe.jpg" style="height: 150px;"/>
            <br/>
            <div class="card-label">
                <label>Full wall wardrobes</label>
            </div>
        </MudCardContent>
    </MudCard>
    <MudCard>
        <MudCardContent>
            <img src="imgs/Portfolio/Fencing.jpg" style="height: 150px;"/>
            <br/>
            <div class="card-label">
                <label>Nice decorative fence</label>
            </div>
        </MudCardContent>
    </MudCard>
    <MudCard>
        <MudCardContent>
            <img src="imgs/Portfolio/KitchenFit.jpg" style="height: 150px;"/>
            <br/>
            <div class="card-label">
                <label>Fantastic looking kitchen fit</label>
            </div>
        </MudCardContent>
    </MudCard>
        <MudCard>
            <MudCardContent>
                <img src="imgs/Portfolio/RaisedBed.jpg" style="height: 150px;"/>
                <br/>
                <div class="card-label">
                    <label>Raised bed to optimise space</label>
                </div>
            </MudCardContent>
        </MudCard>
</div>
