<h3 style="padding: 10px">Services</h3>

<div class="container" style="column-count: 3;">
    <ul>
        <li>Fix carpentry</li>
        <li>Fitted wardrobes</li>
        <li>Roof work</li>
        <li>Kitchen Fitting</li>
        <li>Brick and Block work</li>
        <li>New builds</li>
        <li>Extensions</li>
        <li>Decking</li>
        <li>Loft conversions</li>
        <li>Gates and fencing</li>
        <li>Fascias, Soffits and Guttering</li>
        <li>Garden Furniture</li>
        <li>Larger Outdoor Items</li>
        <li>Bespoke one off pieces</li>
    </ul>
</div>
@code {

}
